*{
    padding: 0;
    margin: 0;
}


.border{
    height: 20vh;
    width: 10px;
    position: absolute;
     animation-name: anima;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

@keyframes anima{
  0%{
    top: 0;
   left: 0;
    background-image:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,107,1) 45%, rgba(0,212,255,1) 100%);
    
  }

   100%{
    top: 100%;
    left: 0;
    background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    transition: 2s;
   }
 



}